.Single
	background-color white
	.content 
		width 30vw
	figure 
		margin-right 1rem
		min-width 40vw 
	&-section				
		h1 
			margin-left 1.5rem
			margin-top 1rem
			margin-bottom 1rem
			font-weight: 300
			font-size 3rem
			width 36vw
			border-bottom 1px solid black	
	&-article		
		article			
			margin 1rem
			padding .5rem
			width 70vw
			border-bottom 1px solid #999
			display: flex
			// flex-wrap: wrap
			// background-color #fff
			height: 100%
			h2
				color white
				background-color gatelin
				padding-left .5rem
	&-sidebar
		display none
		background-color #fff
		width 15vw
		padding 1rem
		position fixed
		right 0
		top 5rem

	&-cream
		
		.post-meta
			font-size: 1.8rem
			font-weight: 400 !important
			&-key
				color maroon
				font-weight: 400
				

@media (min-width: 700px)
	// .Single
		// figure 
		// 	margin-right 1rem
		// img
		// 	width 100% !important
	// 	&-article
	// 		article					
	// 			width 43vw
	// 			img 
	// 				width 50%

				
@media (min-width: 900px)
	.Single
		&-sidebar
			display block
		// &-article
		// 	justify-content flex-start
		
				
					



	

				